---
import MultiColumnLayout from '@/layouts/MultiColumnLayout.astro'
import AppHeading from '@/components/modules/AppHeading/index.vue'
import AppLinkText from '@/components/modules/AppLinkText/index.vue'
import ArticleContent from '@/components/modules/ArticleContent/index.vue'
import ArticleLink from '@/components/modules/ArticleLink/index.vue'
import ArticleShare from '@/components/modules/ArticleShare/index.vue'
import ArticleTags from '@/components/modules/ArticleTags/index.vue'
import ArticleTimestamp from '@/components/modules/ArticleTimestamp/index.vue'
import { getArticleDetail, getAllArticles } from '@/core/domains/article'
import { APP_CONFIG } from '@/core/domains/app'

const { id } = Astro.params

if (!id) {
  return Astro.redirect('/404')
}

const shareUrl = `${APP_CONFIG.ORIGIN}/article/${id}`
const article = await getArticleDetail(id)

export const getStaticPaths = async () => {
  const articles = await getAllArticles()
  return articles.map((article) => ({ params: { id: article.id } }))
}
---

<MultiColumnLayout title="@kimulaco/blog" currentPath={`/article/${id}`}>
  <div class="PagePostDetail">
    <article class="PostDetail">
      <div class="PostDetail_head">
        <h1 class="PostDetail_heading">{article.title}</h1>
        <ArticleTimestamp
          createdAt={article.created_at}
          updatedAt={article.updated_at}
        />

        {
          (article.tag ?? []).length > 0 && (
            <div class="PostDetail_tags">
              <ArticleTags tags={article.tag} />
            </div>
          )
        }

        {
          article.image && (
            <img src={article.image.url} class="PostDetail_image" alt="" />
          )
        }

        <ArticleShare
          title={article.title}
          description={article.description}
          url={shareUrl}
        />
      </div>

      <div class="PostDetail_content">
        <!-- eslint-disable vue/no-v-html -->
        <ArticleContent content={article.content} />
        <!-- eslint-enable vue/no-v-html -->
      </div>

      <div class="PostDetail_foot">
        <ArticleShare
          title={article.title}
          description={article.description}
          url={shareUrl}
        />
        <div class="PostDetail_back -back">
          <AppLinkText to="/">記事一覧に戻る</AppLinkText>
        </div>
      </div>
    </article>

    <aside v-if="article.related_posts.length > 0">
      <AppHeading>関連記事</AppHeading>
      <div>
        {
          article.related_posts.map((relatedArticle) => {
            return <ArticleLink article={relatedArticle} />
          })
        }
      </div>
    </aside>
  </div>
</MultiColumnLayout>

<style scoped lang="scss">
  @use '../../assets/scss/variables.scss' as variables;
  @use '../../assets/scss/mixins.scss' as mixins;

  .PostDetail {
    padding: 0 10px;
    position: relative;
  }

  .PostDetail_head {
    padding: 0 0 16px;

    @include mixins.media() {
      padding: 0 0 32px;
    }
  }

  .PostDetail_heading {
    font-size: 28px;
    padding: 5px 0;
    margin: 0 0 8px;
    line-height: 1.4;

    @include mixins.media() {
      font-size: 32px;
    }
  }

  .PostDetail_category {
    margin: 0 16px 16px 0;
  }

  .PostDetail_tags {
    margin: 0 0 16px;

    @include mixins.media() {
      margin: 0 0 32px;
    }
  }

  .PostDetail_image {
    margin: 0 0 16px;

    @include mixins.media() {
      margin: 0 0 32px;
    }
  }

  .PostDetail_content {
    margin: 0;
    padding: 20px 0;
    position: relative;

    &::before {
      content: '';
      display: block;
      background: variables.$COLOR_LIGHTGRAY;
      width: calc(100% + 20px);
      height: 1px;
      position: absolute;
      top: 0;
      left: -10px;
    }

    @include mixins.media() {
      padding: 32px 0;
    }
  }

  .PostDetail_foot {
    margin: 0;
    padding: 32px 0 0;
    position: relative;

    &::before {
      content: '';
      display: block;
      background: variables.$COLOR_LIGHTGRAY;
      width: calc(100% + 32px);
      height: 1px;
      position: absolute;
      top: 0;
      left: -16px;
    }
  }

  .PostDetail_back.LinkText {
    margin: 32px 0 0;
  }
</style>
