---
import '@/assets/global-style'
import LayoutHeader from '@/components/layouts/LayoutHeader/index.vue'
import LayoutOGP from '@/components/layouts/LayoutOGP/index.astro'
import LayoutColumn from '@/components/layouts/LayoutColumn/index.vue'
import LayoutMain from '@/components/layouts/LayoutMain/index.vue'
import LayoutFooter from '@/components/layouts/LayoutFooter/index.vue'
import LayoutGAImporter from '@/components/layouts/LayoutGAImporter/index.astro'
import AboutWidget from '@/components/widgets/AboutWidget/index.vue'
import { getAbout } from '@/core/domains/about'
import { APP_CONFIG, BUILD_CONFIG } from '@@/config'

interface Props {
  title: string
  description: string
  currentPath: string
}

const { title, description, currentPath } = Astro.props
const about = await getAbout()
const currentUrl = `${APP_CONFIG.URL.ORIGIN}${currentPath}`
const canonicalUrl = `${APP_CONFIG.URL.CANONICAL_BASE_URL}${currentPath}`
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {!BUILD_CONFIG.isProd && <meta name="robots" content="noindex, nofollow" />}
    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <LayoutOGP title={title} description={description} url={currentUrl} />
    <LayoutGAImporter />
    <slot name="head" />
  </head>
  <body data-build={BUILD_CONFIG.BUILD_ENV}>
    <LayoutHeader currentPath={currentPath} />

    <LayoutColumn>
      <LayoutMain slot="main">
        <slot />
      </LayoutMain>

      <aside slot="sub">
        <AboutWidget description={about.about_widget} />
      </aside>
    </LayoutColumn>

    <LayoutFooter />
  </body>
</html>
