---
import '@/assets/global-style'
import LayoutHeader from '@/components/layouts/LayoutHeader/index.astro'
import LayoutOGP from '@/components/layouts/LayoutOGP/index.astro'
import LayoutColumn from '@/components/layouts/LayoutColumn/index.astro'
import LayoutMain from '@/components/layouts/LayoutMain/index.astro'
import LayoutFooter from '@/components/layouts/LayoutFooter/index.astro'
import LayoutGAImporter from '@/components/layouts/LayoutGAImporter/index.astro'
import LayoutNewRelicImporter from '@/components/layouts/LayoutNewRelicImporter/index.astro'
import AboutWidget from '@/components/widgets/AboutWidget/index.astro'
import GoogleAds from '@/components/modules/GoogleAds/index.astro'
import { getAbout } from '@/core/domains/about'
import { APP_CONFIG, BUILD_CONFIG } from '@@/config'

interface Props {
  title: string
  description: string
  currentPath: string
  ogpImagePath?: string
}

const { title, description, currentPath, ogpImagePath } = Astro.props
const about = await getAbout()
const currentUrl = `${APP_CONFIG.URL.ORIGIN}${currentPath}`
const canonicalUrl = `${APP_CONFIG.URL.CANONICAL_BASE_URL}${currentPath}`
const GOOGLE_ADS_CLIENT = String(import.meta.env.GOOGLE_ADS_CLIENT ?? '')
const GOOGLE_ADS_SIDE_AD_SLOT_ID = String(
  import.meta.env.GOOGLE_ADS_SIDE_AD_SLOT_ID ?? ''
)
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <LayoutNewRelicImporter />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {!BUILD_CONFIG.isProd && <meta name="robots" content="noindex, nofollow" />}
    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <LayoutOGP
      title={title}
      description={description}
      url={currentUrl}
      imagePath={ogpImagePath}
    />
    <LayoutGAImporter />
    <slot name="head" />
    <script
      async
      src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${GOOGLE_ADS_CLIENT}`}
      crossorigin="anonymous"></script>
  </head>
  <body data-build={BUILD_CONFIG.BUILD_ENV}>
    <LayoutHeader currentPath={currentPath} />

    <LayoutColumn>
      <LayoutMain slot="main">
        <slot />
      </LayoutMain>

      <aside slot="sub">
        <AboutWidget class="mb-20" description={about.about_widget} />
        <GoogleAds
          adSlot={GOOGLE_ADS_SIDE_AD_SLOT_ID}
          width={300}
          height={300}
        />
      </aside>
    </LayoutColumn>

    <LayoutFooter />
  </body>
</html>
