---
import '@/assets/global-style'
import LayoutHeader from '@/components/layouts/LayoutHeader/index.vue'
import LayoutColumn from '@/components/layouts/LayoutColumn/index.vue'
import LayoutMain from '@/components/layouts/LayoutMain/index.vue'
import LayoutFooter from '@/components/layouts/LayoutFooter/index.vue'
import AboutWidget from '@/components/widgets/AboutWidget/index.vue'
import { getAbout } from '@/core/domains/about'
import { APP_CONFIG } from '@/core/domains/app'
import { BUILD_ENV, isProdBuild } from '@/core/utilities/buildenv'

interface Props {
  title: string
  currentPath: string
}

const { title, currentPath } = Astro.props
const about = await getAbout()
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {!isProdBuild && <meta name="robots" content="noindex, nofollow" />}
    <link rel="canonical" href={APP_CONFIG.CANONICAL_URL} />
    <title>{title}</title>
  </head>
  <body data-build={BUILD_ENV}>
    <LayoutHeader currentPath={currentPath} />

    <LayoutColumn>
      <LayoutMain slot="main">
        <slot />
      </LayoutMain>

      <aside slot="sub">
        <AboutWidget description={about.about_widget} />
      </aside>
    </LayoutColumn>

    <LayoutFooter />
  </body>
</html>
